<ul>
  <% @sentences.each do |sentence| %>
    <% sentence.get(:tokens).each do |token| %>
    <li>
      <%= token.get(:value).to_s %> - <%= token.get(:part_of_speech).to_s %>
    </li>
    <% end %>
  <% end %>
</ul>

