<h1>Board: <%= @board.name %></h1>

<div class="CardGrid">
<% @board.cards.each do |card| %>
  <div class="CardActivitiesCard">
    <h4><%= card.name %></h4>
    <%= link_to "See card BPM info", card_path(id: card.id) %>
  </div>
<% end %>
</div>
