<h2>Board: <%= @board.name %></h1>
<h5>These are all cards we found in this board. There might be a lot of them so you should try searching for its name by pessing <code>Ctrl + F</code> and opening the browser page search.
Once you have found the card you're looking for, click in "EXTRACT" to generate its business process description.</h5>
<small>
  Generating the business process description for a card might take a while, up to several minutes! Please wait patiently after clicking to extract a card. You might even get yourself a cup of coffee or watch a short youtube video.
</small>

<div class="CardGrid">
<% @board.cards.each do |card| %>
  <div class="card">
    <div class="card-content">
      <span class="card-title"><%= card.name %></span>
    </div>
    <div class="card-action">
      <%= link_to "extract", card_path(id: card.id) %>
    </div>
  </div>
<% end %>
</div>
